.main {
    padding: 2rem 0;
    min-height: 75vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex: 1;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    color: white;
}

.card_grid {
    width: 95vw;
    max-width: 76rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #33333d;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
        0 4px 6px -2px rgb(0 0 0 / 5%);
}

.card_grid__title,
.card_grid__title_right {
    text-align: center;
    transition: color 0.15s ease, border-color 0.15s ease;
    margin: 0;
    font-size: min(15vw, 1rem);
    font-weight: bold;
}

.card_grid__title_right {
    border-left: 0.25px solid #424250;
}

.card_grid__button,
.card_grid__button_right {
    text-align: center;
    transition: color 0.15s ease, border-color 0.15s ease;
    border-top: 0.25px solid #424250;
    padding: min(15vw, 3rem) 0;
    margin: 0;
}

.card_grid__button_right {
    border-left: 0.25px solid #424250;
}

.card_grid__result,
.card_grid__result_right {
    font-size: min(20vw, 3rem);
    margin: 0;
    color: #31c48d;
}
.card_grid__result_right {
    color: #db5461;
}

.card_icon_right {
    font-size: min(15vw, 3rem);
    color: #31c48d;
}

.card_icon_wrong {
    font-size: min(15vw, 3rem);
    color: #db5461;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.footer {
    font-weight: bold;
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #636363;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 700px) {
    .header {
        justify-content: left;
    }
    .card_grid__title,
    .card_grid__title_right {
        font-size: min(15vw, 1.5rem);
    }

    .card_grid__result,
    .card_grid__result_right {
        font-size: min(20vw, 10rem);
    }
}
